/* Selector */

*{
    padding: 0 auto;
    margin: 0 auto;

}

/* Selector de etiqueta */
body{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    text-align: center;
}

/* Selector de ID */


#contenedor{
    width: 95%;
    background-color: bisque;
}

#encabezado{
    padding: 15% auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(146, 109, 63);
}

#bloqueGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#bloque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    background-color: rgb(211, 165, 108);
}

#bloque2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 32%;
    background-color: rgb(211, 165, 108);
}

#bloque3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    background-color: rgb(211, 165, 108);
}

#bloque4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    background-color: rgb(211, 165, 108);
}

#bloqueProme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(211, 165, 108);
}

#bloqueBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 42%;
    height: 20%;
    background-color: rgb(211, 165, 108);
}

.botones{
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}